{% block content %}
{% if form.errors %}
    <p align="center">Ваш логин и пароль не совпадают. Попробуйте еще</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p align="center">Ваш аккаунт не имеет доступа к этой странице.</p>
    {% else %}
        <p align="center">Пожалуйста войдите для отправки заявки</p>
    {% endif %}
{% endif %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}/">
    <div class="sidenav">
        <a href="{% url 'index' %}">Домашняя страница</a>
        <a href="{% url 'form' %}">Форма отправки заявки</a>
        <a href="{% url 'tickets'%}">Заявки</a>
        <a href="{% url 'reports'%}">Отчеты</a>
    {% if user.is_authenticated %}
     <a>Пользователь: {{ user.get_username }}</a>
     <a>
       <form id="logout-form" method="post" action="{% url 'logout' %}">
         {% csrf_token %}
         <button type="submit" class="btn">Выход</button>
       </form>
    </a>
   {% endif %}
    </div>
    <div class="login-block">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="login-text">
                <p1 align="center">Войдите в аккаунт</p1>
                <p align="center">Введите ваш логин и пароль, чтобы войти в аккаунт</p>
            </div>
            <table>
                <tr>
                    <td>Логин:</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <a ><input type="submit" class="btn" value="Войти!" /></a>

            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>


{% endblock %}