<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}/">
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Полученные заявки</title>
</head>
<body>
{% if tickets.count > 0 %}
    <div >
    <h2 align="center">Список заявок</h2>
    <table class="sortable">
    <tr>
        <th>ID</th>
        <th>Текст</th>
        <th>Сотрудник</th>
        <th>Приоритет</th>
        <th>Дата открытия</th>
        <th>Дата закрытия</th>
        <th>Закрыт</th>
    </tr>
        {% for ticket in tickets %}
            <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.text }}</td>
            <td>{{ ticket.employee.first_name }} {{ ticket.employee.last_name }}</td>
            <td>{{ ticket.priority }}</td>
            <td>{{ ticket.date_opened }}</td>
            <td>{{ ticket.date_closed }}</td>
            <td>{{ ticket.is_closed }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endif %}
</body>
</html>