<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="C:\Users\user\Desktop\djangoProject\hdver2\static\css\styles.css">
<head>
    <meta charset="UTF-8">
    <title>Полученные заявки</title>
</head>
<body>
{% if tickets.count > 0 %}
    <div >
    <h2>Список заявок</h2>
    <table class="table-ticket">
    <tr>
        <th>ID</th>
        <th>Текст</th>
        <th>Сотрудник</th>
        <th>Приоритет</th>
        <th>Дата открытия</th>
        <th>Дата закрытия</th>
        <th>Закрыт</th>
    </tr>
        {% for ticket in tickets %}
            <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.text }}</td>
            <td>{{ ticket.employee.first_name }} {{ ticket.employee.last_name }}</td>
            <td>{{ ticket.priority }}</td>
            <td>{{ ticket.date_opened }}</td>
            <td>{{ ticket.date_closed }}</td>
            <td>{{ ticket.is_closed }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endif %}
</body>
</html>