.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    font-family: "Inter-Regular", sans-serif; /* Common font */
    background-color: rgb(35, 35, 35); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    color: white;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
.login-block {
   position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.login-text {
    display: inline-block;
}
a.login-button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", serif;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.ticket-send {
    display: inline-block;
    background-color: rgb(92, 92, 92);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    position: absolute;
    left: 30%;
    top: 30%;
}
.sortable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    transform: translate(200px, 0);
}
table.select {
    width: 60%; /* Ширина таблицы */
}
table.list {
    width: 60%; /* Ширина таблицы */
    background: rgb(242, 255, 241); /* Цвет фона ячейки */
}
TR {
    align-items: center;
}
TH, TD {
    border: 1px solid black; /* Параметры рамки */
    text-align: center; /* Выравнивание по центру */
    padding: 4px; /* Поля вокруг текста */
    border-radius: 5px;
}
TH {
    background: rgb(120, 248, 177); /* Цвет фона ячейки */
    height: 30px; /* Высота ячеек */
}
td.list-td {
    border: none;
    padding: 0 0.15em .5em 0.15em;
}
.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#logout-form {
  display: inline;
}
#logout-form button {
  padding: 0;
  margin: 0;
}

label {
    color: white;
}
p {
    align: center;
    align-content: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif; /* Fallback to sans-serif if Inter is not available */
}
p1 {
    align-content: center;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif; /* Fallback to sans-serif if Inter is not available */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input-text{
    width: 250px;
    height: 50px;
}
