
@font-face {
    font-family: Inter-Medium;
    src: url("../fonts/Inter-Medium.ttf") format("truetype");
}


.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    font-family: "Inter-Regular", sans-serif; /* Common font */
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
.login-block {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.login-text {
    display: inline-block;

}
a.login-button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ticket-send {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Inter-Bold", sans-serif;
}

#logout-form {
  display: inline;
}
#logout-form button {
  padding: 0;
  margin: 0;
}

label {
    color: blue;
}
p {
    align-content: center;
    align: center;
    font-family: sans-serif; /* Fallback to sans-serif if Inter is not available */
}